# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Flutter platform build folders
android/.gradle/
android/app/build/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/build/
windows/build/

# Firebase local files
**/firebase-debug.log
